.project-container {
  margin-top: 20px;
  text-align: center; /* Align all items to the center */
}

.project-container h2 {
  margin-bottom: 10px;
}

.project-container ul {
  list-style-type: none;
  padding: 0;
}

.project-container li {
  margin-bottom: 5px;
}

.project-container li button {
  margin-left: 10px;
}

.project-name {
  font-weight: bold;
  font-size: 16px; /* Adjust font size as needed */
}

.created-date {
  font-size: 12px; /* Smaller font size for the created date */
  color: #999; /* Lighter color for the created date */
  margin-left: 5px; /* Add some space between the project name and created date */
}

.add-project-btn {
  margin-top: 15px;
  margin-bottom: 35px; /* Add some space between the project name and created date */
}
